<style>
  .pound-sign::after {
    content: "£";
    font-weight: bold;
    font-family: nta, Arial, "sans-serif";
    font-size: 1rem;
    color: black;
    position: relative;
    right: 175px;
    display: inline
  }
  @media (min-width: 40.0625em) {
    .pound-sign::after {
      font-size: 19px;
      right: 210px
    }
  }
</style>