.tmp/
.sass-cache/
.DS_Store
node_modules
*.tar.gz
npm-debug.log
logs/
.idea/
app/sessions/
sessions
app/static/**/*
.nyc_output
coverage
dist/
reports
stryker.log
gitlab-ci/
.gitlab-ci.yml
.npmrc
.env.dev
