/* Cookie banner */
.casa-cookie-banner {
  background: #f3f2f1;
}
.casa-cookie-banner--main,
.casa-cookie-banner--accept,
.casa-cookie-banner--reject {
  margin-bottom: 0;
}
.casa-hidden {
  display: none;
}
.casa-cookie-banner form {
  display: inline;
}
.casa-cookie-banner--reject:focus,
.casa-cookie-banner--accept:focus {
  outline: none;
}
.casa-cookie-banner--reject p,
.casa-cookie-banner--accept p,
.casa-cookie-banner--hide {
  display: inline-block;
}
.casa-cookie-banner--hide {
  float: none;
}
@media (min-width: 840px) {
  .casa-cookie-banner--hide {
    float: right;
    margin-right: 30px;
    width: auto;
  }
}

/* Genric application styles */
.blue-border {
  border: 5px solid #005ea5;
  padding: 15px;
  margin-bottom: 20px;
}
@media (min-width: 40.0625em) {
  .blue-border {
      padding: 20px
  }
}
.blue-border h2 {
  margin-top: 0;
}
.blue-border p:last-child {
  margin-bottom: 0;
}
.display-block {
  display: block;
}

span.nobr { white-space: nowrap; }

.govuk-hint.govuk-hint-black {
  color: #000;
}

#timeout {
  margin-top:10%;
}
#timeout, #timeout-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#timeout-bg {
  background: #000;
  opacity: 0.8;
}
.timeout-panel {
  position: relative;
  z-index: 999;
  background: #fff;
  width: inherit;
  margin: auto 15px;
  padding: 45px;
  overflow: auto;
}
@media (min-width: 530px) {
  #timeout-panel {
      margin: auto;
  }
}
.timeout-closed {
  display:none;
}

.timeout-freeze {
  overflow: hidden;
}
.add-another-hidden {
  display: none;
}
.button-link {
  background:none!important;
  color: #005ea5;
  border:none;
  padding:0!important;
  font: inherit;
  text-decoration:underline;
  cursor: pointer;
}