{% extends "casa/layouts/main.njk" %}
{% from "components/footer/macro.njk" import govukFooter with context %}

{% block head %}
  {%- if cookieMessage === "accept" -%}
    {% include "partials/gtm-script.njk" %}
  {%- endif %}
{%  include "includes/application-styles.njk" %}
{% endblock %}

{% block bodyStart %}
  {%- if cookieMessage === "accept" -%}
    {% include "partials/gtm-noscript.njk" %}
  {%- endif %}
  {% if cookieMessage === "unset" or cookieChoiceMade %}
    {% include "partials/cookie-message.njk" %}
  {% endif %}
{% endblock %}

{% block footer %}
{{ govukFooter({
  meta: {
    items: [
      {
        href: "https://www.gov.uk/help",
        text: "Help"
      },
      {
        href: "/accessibility-statement",
        text: "Accessibility statement"
      },
      {
        href: cookiePolicyUrl,
        text: "Cookies"
      },
      {
        href: "https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter",
        text: "Privacy"
      }
    ]
  }
}) }}
{% endblock %}
