{% extends "layouts/generic-template.njk" %}

{% from "components/inset-text/macro.njk" import govukInsetText %}
{% from "components/table/macro.njk" import govukTable %}

{% block casaPageTitle %}
  {{ t('cookie-details:pageTitle') }} - {{ t('app:serviceName') }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ t('cookie-details:pageTitle') }}
      </h1>
      <p class="govuk-body">
        {{ t('cookie-details:weNeedEssentialCookies') }}
      </p>
      <p>
        {{ govukInsetText({
          html: t('cookie-details:youCanChange', { url: cookiePolicyUrl })
        }) }}
      </p>

      <h2 class="govuk-heading-m">
        {{ t('cookie-details:ifCookiesOff') }}
      </h2>
      <p class="govuk-body">
        {{ t('cookie-details:youWillSeeAnError') }}
      </p>
      <p class="govuk-body">
        {{ t('cookie-details:howToTurnCookiesOn', { url: 'https://www.whatsmybrowser.org' }) | safe }}
      </p>
      <p class="govuk-body">
        {{ t('cookie-details:findOutHowToChange') }}
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="https://support.microsoft.com/en-us/products/windows?os=windows-10">{{ t('cookie-details:ie') }}</a></li>
        <li><a class="govuk-link" href="https://www.mozilla.org/en-US/?v=a">{{ t('cookie-details:firefox') }}</a></li>
        <li><a class="govuk-link" href="https://support.google.com/accounts/answer/61416?hl=en">{{ t('cookie-details:chrome') }}</a></li>
        <li><a class="govuk-link" href="">{{ t('cookie-details:safari', { url: 'https://www.apple.com/' }) | safe }}</li>
      </ul>
      <p class="govuk-body">
        {{ t('cookie-details:findOutHowToManage', { url: 'https://www.aboutcookies.org' }) | safe }}
      </p>

      <h2 class="govuk-heading-m">
        {{ t('cookie-details:cookiesThatMeasure') }}
      </h2>
      <p class="govuk-body">
        {{ t('cookie-details:weUseGoogleAnalytics') }}
      </p>
      <p>
        {{ govukInsetText({
          html: t('cookie-details:weDoNotAllowGoogle')
        }) }}
      </p>
      <p class="govuk-body">
        {{ t('cookie-details:googleCollects') }}
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('cookie-details:pageYouVisit') }}</li>
        <li>{{ t('cookie-details:howLong') }}</li>
        <li>{{ t('cookie-details:howYouGotHere') }}</li>
      </ul>
      {{ govukTable({
        caption: t('cookie-details:googleAnalyticsCookies'),
        head: [{
          text: t('cookie-details:table.headings.name')
        }, {
          text: t('cookie-details:table.headings.purpose')
        }, {
          text: t('cookie-details:table.headings.expires')
        }],
        rows: [[{
          text: "_ga"
        }, {
          text: t('cookie-details:table.ga.purpose')
        }, {
          text: t('cookie-details:table.ga.expires')
        }], [{
          text: "_gat"
        }, {
          text: t('cookie-details:table.gat.purpose')
        }, {
          text: t('cookie-details:table.gat.expires')
        }]]
      }) }}

      <h2 class="govuk-heading-m">
        {{ t('cookie-details:performanceCookies') }}
      </h2>
      <p class="govuk-body">
        {{ t('cookie-details:weUseSomePerfCookies') }}
      </p>
      {{ govukTable({
        caption: t('cookie-details:perfCookieHeading'),
        head: [{
          text: t('cookie-details:table.headings.name')
        }, {
          text: t('cookie-details:table.headings.purpose')
        }, {
          text: t('cookie-details:table.headings.expires')
        }],
        rows: [[{
          text: "routing_stage"
        }, {
          text: t('cookie-details:table.routing_stage.purpose')
        }, {
          text: t('cookie-details:table.routing_stage.expires')
        }], [{
          text: "routing_stage.sig"
        }, {
          text: t('cookie-details:table.routing_stage_sig.purpose')
        }, {
          text: t('cookie-details:table.routing_stage_sig.expires')
        }]]
      }) }}

      <h2 class="govuk-heading-m">
        {{ t('cookie-details:sessionCookies') }}
      </h2>
      <p class="govuk-body">
        {{ t('cookie-details:weUseSessionCookies') }}
      </p>
      <p class="govuk-body">
        {{ t('cookie-details:automaticallyRemoved') }}
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('cookie-details:dontDoAnything') }}</li>
        <li>{{ t('cookie-details:closeBrowser') }}</li>
        <li>{{ t('cookie-details:switchOffComputer') }}</li>
      </ul>
      {{ govukTable({
        caption: t('cookie-details:securityCookies'),
        head: [{
          text: t('cookie-details:table.headings.name')
        }, {
          text: t('cookie-details:table.headings.purpose')
        }, {
          text: t('cookie-details:table.headings.expires')
        }],
        rows: [[{
          text: sessionCookieName
        }, {
          text: t('cookie-details:table.session.purpose')
        }, {
          text: t('cookie-details:table.session.expires', sessionMinutes)
        }]]
      }) }}

      <h2 class="govuk-heading-m">
        {{ t('cookie-details:cookiesMessage') }}
      </h2>
      <p class="govuk-body">
        {{ t('cookie-details:youMaySeeABanner') }}
      </p>
      {{ govukTable({
        caption: t('cookie-details:serviceCookies'),
        head: [{
          text: t('cookie-details:table.headings.name')
        }, {
          text: t('cookie-details:table.headings.purpose')
        }, {
          text: t('cookie-details:table.headings.expires')
        }],
        rows: [[{
          text: consentCookieName
        }, {
          text: t('cookie-details:table.consent.purpose')
        }, {
          text: t('cookie-details:table.consent.expires')
        }]]
      }) }}
    </div>
  </div>
{% endblock %}
