{% extends "layouts/custom-journey.njk" %}

{% block casaPageTitle %}
  {{ t('accessibility-statement:pageTitle') }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">  
      <h1 class="govuk-heading-l">
        {{ t('accessibility-statement:h1') }}
      </h1>
      <p class="govuk-body">
       {{ t('accessibility-statement:p1') | safe }}
      </p>
      <p class="govuk-body">
        {{ t('accessibility-statement:p2') | safe }}
      </p>

      <h2 class="govuk-heading-m">
        {{ t('accessibility-statement:usingThisService.h2') }}
      </h2>
      <p class="govuk-body">
        {{ t('accessibility-statement:usingThisService.p1') }}
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
        {{ t('accessibility-statement:usingThisService.li1') }}
        </li>
        <li>
        {{ t('accessibility-statement:usingThisService.li2') }}
        </li>
        <li>
        {{ t('accessibility-statement:usingThisService.li3') }}
        </li>
        <li>
        {{ t('accessibility-statement:usingThisService.li4') }}
        </li>
        <li>
        {{ t('accessibility-statement:usingThisService.li5') }}
        </li>
      </ul>
      <p class="govuk-body">
        {{ t('accessibility-statement:usingThisService.p2') }}
      </p>
      <p class="govuk-body">
        {{ t('accessibility-statement:usingThisService.p3') | safe }}
      </p>

      <h2 class="govuk-heading-m">
        {{ t('accessibility-statement:howAccessibleThisServiceIs.h2') }}
      </h2>
      <p class="govuk-body">
        {{ t('accessibility-statement:howAccessibleThisServiceIs.p1') }}
      </p>
      <p class="govuk-body">
        {{ t('accessibility-statement:howAccessibleThisServiceIs.p2') }}
      </p>
      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>
        {{ t('accessibility-statement:howAccessibleThisServiceIs.li1') }}
        </li>
        <li>
        {{ t('accessibility-statement:howAccessibleThisServiceIs.li2') }}
        </li> 
        <li>
        {{ t('accessibility-statement:howAccessibleThisServiceIs.li3') }}
        </li>      
       <li>
        {{ t('accessibility-statement:howAccessibleThisServiceIs.li4') }}
        </li>
        <li>
        {{ t('accessibility-statement:howAccessibleThisServiceIs.li5') | safe }}
        </li>
        <li>
        {{ t('accessibility-statement:howAccessibleThisServiceIs.li6') }}
        </li>
        <li>
        {{ t('accessibility-statement:howAccessibleThisServiceIs.li7') }}
        </li>
      </ul>

      <h2 class="govuk-heading-m">
        {{ t('accessibility-statement:difficultyUsingService.h2') }}
      </h2>
      <p class="govuk-body">
        {{ t('accessibility-statement:difficultyUsingService.p1') | safe }}
      </p>
      <p class="govuk-body">
        {{ t('accessibility-statement:difficultyUsingService.p2') }}
      </p>

      <h2 class="govuk-heading-m">
        {{ t('accessibility-statement:reportingAccessibilityProblems.h2') }}
      </h2>
      <p class="govuk-body">
        {{ t('accessibility-statement:reportingAccessibilityProblems.p1') | safe }}
      </p>

      <h2 class="govuk-heading-m">
        {{ t('accessibility-statement:enforcementProcedure.h2') }}
      </h2>
      <p class="govuk-body">
        {{ t('accessibility-statement:enforcementProcedure.p1') | safe }}
      </p>

      <h2 class="govuk-heading-m">
        {{ t('accessibility-statement:technicalInformationAboutServiceAccessibility.h2') }}
      </h2>
      <p class="govuk-body">
        {{ t('accessibility-statement:technicalInformationAboutServiceAccessibility.p1') }}
      </p>
      <p class="govuk-body">
        {{ t('accessibility-statement:technicalInformationAboutServiceAccessibility.p2') }}
      </p>

      <h2 class="govuk-heading-m">
        {{ t('accessibility-statement:howWeTested.h2') }}
      </h2>
      <p class="govuk-body">
        {{ t('accessibility-statement:howWeTested.p1') }}
      </p>
      <p class="govuk-body">
        {{ t('accessibility-statement:howWeTested.p2') }}
      </p>

      <h2 class="govuk-heading-m">
        {{ t('accessibility-statement:improveAccessibility.h2') }}
      </h2>
      <p class="govuk-body">
        {{ t('accessibility-statement:improveAccessibility.p1') }}
      </p>
      <p class="govuk-body">
        {{ t('accessibility-statement:improveAccessibility.p2') }}
      </p>
      <p class="govuk-body">
        {{ t('accessibility-statement:improveAccessibility.p3') }}
      </p>
    </div>
  </div>
{% endblock %}




