{% extends "layouts/custom-journey.njk" %}

{% from "casa/components/postal-address-object/macro.njk" import casaPostalAddressObject with context %}
{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}

{% block casaPageTitle %}
    {{ t('address:pageTitle') }}
{% endblock %}

{% block journey_form %}

    {% set correspondenceAddress %}

        {{ casaPostalAddressObject({
            fieldset: {
                legend: {
                    text: t('address:correspondenceAddress.label'),
                    classes: 'govuk-fieldset__legend--m'
                }
            },
            name: 'correspondenceAddress',
            value: formData.correspondenceAddress,
            casaErrors: formErrors
        }) }}

    {% endset -%}

    {{ casaPostalAddressObject({
        fieldset: {
            legend: {
                text: t('address:address.label'),
                isPageHeading: true,
                classes: 'govuk-fieldset__legend--l'
            }
        },
        name: 'address',
        value: formData.address,
        casaErrors: formErrors
    }) }}

    {{ casaGovukRadios({
        name: 'correspondence',
        fieldset: {
            legend: {
                text: t('address:correspondence.label'),
                classes: 'govuk-fieldset__legend--m'
            }
        },
        casaValue: formData.correspondence,
        casaErrors: formErrors,
        items: [{
            value: 'yes',
            text: t('app:yes'),
            attributes: {
                'data-question': t('address:correspondence.label'),
                'data-answer': t('app:yes')
            }
        }, {
            value: 'no',
            text: t('app:no'),
            attributes: {
                'data-question': t('address:correspondence.label'),
                'data-answer': t('app:no')
            },
            conditional: {
                html: correspondenceAddress
            }
        }]
    }) }}

{% endblock %}
