{% extends "layouts/custom-journey.njk" %}

{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}

{% block casaPageTitle %}
    {{ t('coronavirus:pageTitle') }} 
{% endblock %}

{% block journey_form %}
    {{ casaGovukRadios({
        name: 'coronavirusReasonForClaim',
        fieldset: {
            legend: {
                text: t('coronavirus:coronavirusReasonForClaim.label'),
                isPageHeading: true,
                classes: 'govuk-fieldset__legend--l'
            }
        },
        hint: {
            html: t('coronavirus:coronavirusReasonForClaim.hint')
        },
        casaValue: formData.coronavirusReasonForClaim,
        casaErrors: formErrors,
        items: [{
            text: t('app:yes'),
            value: 'yes',
            attributes: {
                'data-question': t('coronavirus:coronavirusReasonForClaim.label'),
                'data-answer': t('app:yes')
            }
        }, {
            text: t('app:no'),
            value: 'no',
            attributes: {
                'data-question': t('coronavirus:coronavirusReasonForClaim.label'),
                'data-answer': t('app:no')
            }
        }]
    }) }}
{% endblock %}
