{% extends "layouts/custom-journey.njk" %}

{% from "casa/components/textarea/macro.njk" import casaGovukTextarea with context %}

{% block casaPageTitle %}
    {{ t('employment-expenses-details:pageTitle', employerName) }}
{% endblock %}

{% block journey_form %}

    {{ casaGovukTextarea({
        label: {
            text: t('employment-expenses-details:expensesDetails.label'),
            isPageHeading: true,
            classes: 'govuk-label--l'
        },
        hint: {
            text: t('employment-expenses-details:expensesDetails.hint'),
            attributes: {
                style: 'color:black'
            }
        },
        name: 'expensesDetails',
        value: formData.expensesDetails,
        casaErrors: formErrors
    }) }}
    
{% endblock %}
