{% extends "layouts/custom-journey.njk" %}

{% from "casa/components/postal-address-object/macro.njk" import casaPostalAddressObject with context %}
{% from "casa/components/input/macro.njk" import casaGovukInput with context %}
{% from "../macros/optional-details-message.njk" import optionalDetailsMessage with context %}

{% block casaPageTitle %}
    {{ t('insurance-details:pageTitle') }}
{% endblock %}

{% block journey_form %}

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">{{ t('insurance-details:heading') }}</h1>
    {{ optionalDetailsMessage() }}
    <p>{{ t('insurance-details:hint') }}</p>

    {{ casaGovukInput({
        label: {
            text: t('insurance-details:insuranceProvider.label')
        },
        name: 'insuranceProvider',
        value: formData.insuranceProvider,
        classes:'govuk-!-width-one-half',
        casaErrors: formErrors
    }) }}
    {{ casaGovukInput({
        label: {
            text: t('insurance-details:providerRef.label')
        },
        name: 'providerRef',
        value: formData.providerRef,
        classes:'govuk-!-width-one-half',
        casaErrors: formErrors
    }) }}

    {{ casaGovukInput({
        label: {
            text: t('insurance-details:providerTel.label')
        },
        name: 'providerTel',
        value: formData.providerTel,
        classes:'govuk-!-width-one-half',
        casaErrors: formErrors
    }) }}

    {{ casaPostalAddressObject({
        fieldset: {
            legend: {
                text: t('insurance-details:providerAddress.label'),
                classes: 'govuk-!-font-weight-bold'
            }
        },
        name: 'providerAddress',
        value: formData.providerAddress,
        casaErrors: formErrors
    }) }}
{% endblock %}
