{% extends "layouts/custom-journey.njk" %}

{% from "casa/components/input/macro.njk" import casaGovukInput with context %}
{% from "casa/components/postal-address-object/macro.njk" import casaPostalAddressObject with context %}

{% block casaPageTitle %}
    {{ t('medical-centre:pageTitle') }}
{% endblock %}

{% block journey_form %}

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">{{ t('medical-centre:heading') }}</h1>

    <p class="govuk-hint">{{ t('medical-centre:hint') }}</p>

    {{ casaGovukInput({
        label: {
            text: t('medical-centre:name.label')
        },
        classes: 'govuk-!-width-one-half',
        name: 'name',
        value: formData.name,
        casaErrors: formErrors
    }) }}

    {{ casaGovukInput({
        label: {
            text: t('medical-centre:phoneNumber.label')
        },
        classes: 'govuk-!-width-one-half',
        name: 'phoneNumber',
        value: formData.phoneNumber,
        casaErrors: formErrors
    }) }}

    {{ casaGovukInput({
        label: {
            text: t('medical-centre:doctor.label')
        },
        hint: {
            text: t('medical-centre:doctor.hint')
        },
        classes: 'govuk-!-width-one-half',
        name: 'doctor',
        value: formData.doctor,
        casaErrors: formErrors
    }) }}

    {{ casaPostalAddressObject({
        fieldset: {
            legend: {
                html: t('medical-centre:address.label'),
                classes: 'govuk-!-font-weight-bold'
            }
        },
        name: 'address',
        value: formData.address,
        casaErrors: formErrors
    }) }}
{% endblock %}
