{% extends "layouts/custom-journey.njk" %}

{% from "casa/components/input/macro.njk" import casaGovukInput with context %}

{% block casaPageTitle %}
    {{ t('nino:pageTitle') }}
{% endblock %}

{% block journey_form %}

    {{ casaGovukInput({
        name: 'nino',
        value: formData.nino,
        label: {
            text: t('nino:nino.label'),
            classes: "govuk-label--l",
            isPageHeading: true
        },
        hint: {
            html: t('nino:nino.hint')
        },
        casaErrors: formErrors,
        classes: 'govuk-input--width-10' + (' govuk-input--error' if formErrors.nino ),
        attributes : {
            maxlength: '13'
        }
    }) }}

{% endblock %}
