{% extends "layouts/custom-journey.njk" %}

{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}
{% from "casa/components/input/macro.njk" import casaGovukInput with context %}

{% block casaPageTitle %}
    {{ t('voluntary-work-hours:pageTitle', organisationName) }}
{% endblock %}

{% block journey_form %}

    {% set hours %}
        {{ casaGovukInput({
            label: {
                text: t('voluntary-work-hours:hours.label')
            },
            name: 'hours',
            classes: 'govuk-input--width-3',
            value: formData.hours,
            casaErrors: formErrors
        }) }}

    {% endset -%}

    {{ casaGovukRadios({
        name: 'sameHours',
        fieldset: {
            legend: {
                text: t('voluntary-work-hours:sameHours.label', organisationName),
                isPageHeading: true,
                classes: 'govuk-fieldset__legend--l'
            }
        },
        casaValue: formData.sameHours,
        casaErrors: formErrors,
        items: [{
            value: 'yes',
            text: t('app:yes'),
            attributes: {
                'data-question': t('voluntary-work-hours:sameHours.label', organisationName),
                'data-answer': t('app:yes')
            },
            conditional: {
                html: hours
            }
        }, {
            value: 'no',
            text: t('app:no'),
            attributes: {
                'data-question': t('voluntary-work-hours:sameHours.label', organisationName),
                'data-answer': t('app:no')
            }
        }]
    }) }}

{% endblock %}